<h2>details</h2>
<div>
  <div> 
    <p>  
      <strong> <%= @post.title %> </strong>
      <span> 
        Comments: <%= @post.comments_counter %>,
        Likes : <%= @post.likes_counters %>  
      </span> 
    </p>
     <p> <%= @post.text %> </p>
     <div> <%= form_with(model: @post, url: like_user_post_path(@post), method: :post, local: true) do |form| %>
  <%= form.button type: :submit, class: 'like-button' do %>
    Add Like
  <% end %>
<% end %> </div>
     </div>
     <div class='comments-content'>
     <p><strong> Comments :</strong> </p>
     <% @post.recent_comments.each do |comment| %>
         <h3><%= comment.author.name %>: <%= comment.text %></h3>
      <% end %>
     </div>
     </div>

     <button> <%= link_to 'Add Comment', new_user_post_comment_path(user_id: @current_user.id, post_id: @post.id) %> </button>