<!DOCTYPE html>
<html>
<head>
  <title>My Blog App</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbo-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbo-track': 'reload' %>
</head>
<body>
  <header>
    <nav>
      <!-- Navigation links -->
      <% if user_signed_in? %>
      <a href="<%= destroy_user_session_path %>" data-method="delete">Sign Out</a>
      
    <% end %>
    </nav>
  </header>

  <main>
    <%= yield %>
  </main>

  <footer>
    <!-- Footer content -->
  </footer>
</body>
</html>


